:root {
  --color-primary: #ffcc00;
  --color-secound: #666666;
  --color-third: #f6f6f6;
  --color-fourth: #3d3939;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 100%;
  max-width: 100%;
  list-style: none;
  direction: ltr;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 14px;
  height: 100%;
  width: 130px;
  background: #11101d;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 240px;
}
.sidebar .links-name{
  opacity: 0;
  pointer-events: auto;
}
.active .links-name{
  opacity: 1;
  pointer-events: none;
}
.sidebar .logo-content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease;
}
.sidebar.active .logo-content .logo {
  opacity: 1;
  pointer-events: none;
}
.sidebar .logo-content .logo i {
  font-size: 28px;
  margin-right: 5px;
}
.sidebar .logo-content .logo .logo-name {
  font-size: 20px;
}
.sidebar #btn {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  margin: 0 5px;
  height: 50px;
  width: 100%;
  line-height: 50px;
}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}
.sidebar ul li .bx-search {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 20;
  color: #fff;
  font-size: 22px;
  transition: all .5s ease;
}
.sidebar ul li .bx-search:hover{
  background: #fff;
  color: #1d1b31;
  border-radius: 20px;
} 
.sidebar.active ul li input{
width: 100%;
border-radius: 12px;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all 0.4s ease;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  background-color: #fff;
  color: #11101d;
 
}
.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .profile-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.sidebar .profile-content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #1d1b31;
  transition: all .4s ease;
}
.sidebar.active .profile-content .profile{
  background: none;
}
.sidebar .profile-content .profile .profile-detials {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.sidebar.active .profile-content .profile .profile-detials{
  opacity: 1;
pointer-events: auto;
}
.sidebar .profile-content .profile .profile-detials img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.sidebar .profile-content .profile .profile-detials .name-job {
  margin-left: 10px;
}
.sidebar .profile-content .profile .profile-detials .name {
  font-size: 15px;
}
.sidebar .profile-content .profile .profile-detials .job {
  font-size: 12px;
}
.profile #log-out {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  background-color: #1d1b31;
  transition: all .5s ease;
}
.sidebar.active .profile #log-out{
  left: 88%;
 background: none;
}
.home-content {
  position: absolute;
  height: 100%;
  width: calc(100% - 150px);
  left: 150px;
  transition: all .5s ease;
}
.home-content .texr {
  font-size: 25px;
  color: #1d1b31;
  margin-top: 12px;
}
.sidebar.active ~ .home-content{
  width: calc(100% -240px);
  left: 240px;
}

.chart{
  position: relative;
}